@using SatelliteSite.SampleModule.Models
@model IEnumerable<WeatherForecast>
@{
    Layout = "_WindowLayout";
    ViewData["Title"] = "Weather Forecast";
}

<div class="container-fluid mb-2">
    <div class="row">
        <datatable data="Model" />
    </div>
</div>
