@using SatelliteSite.SampleModule.Models
@model IEnumerable<WeatherForecast>
@{
    Layout = "_WindowLayout";
    ViewData["Title"] = "Weather Forecast";
}

<div class="container-fluid mb-2">
    <div class="row">
        <datatable data="Model" />
    </div>
</div>

<p>
    <user uid="1" />
    <user uid="1" username="admin (u1)" />
    <user username="admin" />
    <user username="admin (u1)" />
</p>
