@inject IMenuProvider Menu
@{
    ViewData["Title"] = "View User";
    IUser user = ViewBag.User;
    var realMenu = Menu.Find(SatelliteSite.IdentityModule.ExtensionPointDefaults.UserDetailMenu)
        .Where(a => a.Satisfy(ViewContext))
        .ToList();
}

@await Menu.Extend(SatelliteSite.IdentityModule.ExtensionPointDefaults.UserDetail).RenderAsync(Component)

<p class="mb-0 mt-3" asp-show-if="realMenu.Count > 0">
@foreach (var menu in realMenu)
{
    <a href="@menu.GetLink(Url, ViewContext)" class="btn btn-@menu.Icon mb-1">@menu.Title</a>
}
</p>
