@{
    ViewData["Title"] = "Overview";
}

<h2 class="mt-2">Dashboard interface</h2>

<div class="row equal mt-3">
    <div class="col-lg-4 col-md-5 col-sm-6 mt-3">
        <div class="card mb-3">
            <div class="card-header">
                Dashboard Section
            </div>
            <div class="card-body">
                <ul>
                    <li><a>Configuration settings</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>