@using SatelliteSite.Substrate.Dashboards
@model IEnumerable<LoadedModulesModel>
@{
    ViewData["Title"] = "Component Versions";
}

<h2 class="mt-2">@ViewData["Title"]</h2>

<div asp-viewdata-key="RazorRuntimeCompilationEnabled" class="alert alert-warning" style="max-width:50em">
    <b>Razor Runtime Compilation</b> is turned on, assemblies named like <code>3bgi3jae.gwv</code> may appear.
</div>

<datatable data="Model" />
