
<div id="submitbut">
    <a class="nav-link justify-content-center " data-toggle="ajaxWindow" data-target="submit" href="/ctx">
        <button type="button" class="btn btn-success btn-sm ">
            <i class="fas fa-cloud-upload-alt"></i> Submit
        </button>
    </a>
</div>
