@using Microsoft.Extensions.DependencyInjection
@if (!ViewData.ContainsKey("BigTitle"))
{
    ViewData["BigTitle"] = Context.RequestServices.GetOptions<SubstrateOptions>().Value.SiteName;
}
<a class="navbar-brand hidden-sm-down" aria-label="@ViewData["BigTitle"]" href="@(ViewData["BigUrl"] ?? "/")">
    <span>@ViewData["BigTitle"]</span>
</a>