@{
    Layout = "_WindowLayout";
    ViewData["IgnoreCancelButton"] = true;
    var messages = ((string)ViewData["Message"]!).Split('\n');
}

<p>
@for (int i = 0; i < messages.Length; i++)
{
    if (i > 0) {<br />}
    @messages[i]
}
</p>

@if (ViewData.ContainsKey("InAjax"))
{
    @section Footer {
        <button type="button" class="btn btn-@ViewData["MsgType"]" data-dismiss="modal">Ok</button>
    }
}