@model ForgotPasswordModel
@{
    ViewData["Title"] = Localizer["Forgot your password?"];
    Layout = "_WindowLayout";
}

<div asp-validation-summary="All" class="text-danger"></div>

<p>@Localizer["Enter your email and we will send an email with password reset link if your email is verified in our system."]</p>

<div class="form-group">
    <label asp-for="Email">@Localizer["Email"]</label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>

@section Footer {
    <button asp-action="ForgotPassword" type="submit" class="btn btn-primary">@Localizer["Submit"]</button>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
