@model LoginWith2faModel

@{
    ViewData["Title"] = "Two-factor authentication";
    Layout = "_WindowLayout";
}

<p>
    Your login is protected with an authenticator app. Enter your authenticator code below.
</p>

<input asp-for="RememberMe" type="hidden" />
<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="TwoFactorCode"></label>
    <input asp-for="TwoFactorCode" class="form-control" autocomplete="off" />
    <span asp-validation-for="TwoFactorCode" class="text-danger"></span>
</div>
<div class="form-group">
    <div class="custom-control custom-checkbox">
        <input class="custom-control-input" asp-for="RememberMachine" />
        <label class="custom-control-label" asp-for="RememberMachine"></label>
    </div>
</div>

<p>
    Don't have access to your authenticator device? You can
    <a asp-action="LoginWithRecoveryCode" asp-route-returnUrl="@ViewData["ReturnUrl"]">log in with a recovery code</a>.
</p>

@section Footer {
    <button asp-action="LoginWith2fa" asp-route-returnUrl="@ViewData["ReturnUrl"]" type="submit" class="btn btn-primary">Login</button>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
